.project-content {
  padding: 20px;
  overflow: scroll !important;
}

.project-content > .ant-row {
  display: flex;
  margin-right: 20px;
}

.project-content > .ant-row:last-child {
  margin-right: 20px;
}

.project-board__list {
  width: 100%;
  height: 50%;
  overflow-y: scroll !important;
}

.project-board__list-item.ant-list-item {
  width: 100%;
}

.project-board__list-header-button.ant-btn {
  width: 100%;
}

.project-board__list-header-menu.ant-menu {
  float: right;
  background: none;
  line-height: 1.4;
  border: none;
}

.project-board__list-header-submenu.ant-menu-submenu {
  box-shadow: none;
  margin: none;
}

.project-board__list-header-title.ant-typography {
  display: flex;
  justify-content: space-between;
}

.project__status-input {
  padding: 24px 0;
}

.project-header.ant-layout-header {
  align-items: center;
  background: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
  display: flex;
}

.project-header__title.ant-typography {
  margin: 0;
}

.project-header > .project-header__menu-section {
  float: right;
}

.project-header__menu.ant-menu {
  border: 0;
}
