@import '~antd/dist/antd.css';
html {
  overflow: hidden;
}
#root,
body,
html {
  height: 100%;
  width: 100%;
}
body {
  overflow: auto;
}
#app {
  position: relative;
  min-height: 100vh;
  max-height: 100vh;
}

.app-sider {
  position: fixed;
  height: 100vh;
  overflow: auto;
  left: 0;
  z-index: 99;
}

.app-layout {
  margin-left: 200px;
}

.logo {
  background: rgba(248, 164, 164, 0.644);
  height: 32px;
  margin: 16px;
}
